.auth-container {
  position: fixed; /* Ancla el contenedor a la ventana del navegador */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f8f9fa;
  background-image: url('../assets/WAVES 1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Corta cualquier burbuja que empuje los bordes */
  z-index: 1;
}

.auth-content {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-logo {
  position: absolute;
  top: 30px; /* Distancia desde arriba */
  left: 40px; /* Distancia desde la izquierda */
  width: 180px; /* Tamaño del logo (ajusta este número si lo ves muy grande o pequeño) */
  z-index: 20; /* Asegura que el logo flote por encima de las olas y las burbujas */
  object-fit: contain;
}