.dashboard-container {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background-color: #f8f9fa;
  background-image: url('../assets/WAVES 1.svg');
  background-size: cover; 
  background-position: center;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.dashboard-content-logo {
    /* --- CAMBIA ESTO --- */
    width: 160px; /* <--- Este es el tamaño ideal para que no se vea gigante */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que la imagen no se estire feo */
    margin-top: 1rem; /* Pequeño ajuste hacia abajo desde el borde superior */
    margin-bottom: 3.5rem; /* Espacio antes del saludo "Hola ¡Diego!" */
    z-index: 5;


     }

     .dashboard-content {
  flex: 1;
  /* Aumenté el padding izquierdo a 6rem para que no choque con el Sidebar */
  padding: 3rem 6rem; 
  display: flex;
  flex-direction: column;
  z-index: 5;
  overflow-y: auto;
}

.dashboard-greeting {
  font-size: 1.5rem;
  color: #1f2937;
  font-weight: bold;
  margin-bottom: 2rem;
}

.section-title {
  color: #6b7280;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.quick-actions {
  display: flex;
  gap: 1.5rem;
}